version: '3'

services:
  selenium-hub:
    image: selenium/hub:4.5.0-20221004
    container_name: selenium-hub
    environment:
      - SE_NODE_SESSION_TIMEOUT=300
      - SE_SESSION_REQUEST_TIMEOUT=30
      - SE_SESSION_RETRY_INTERVAL=5
    ports:
      - '4442:4442'
      - '4443:4443'
      - '4444:4444'

  appium-server:
    image: appium/appium:latest
    container_name: appium-server
    ports:
      - '4723:4723'
    command: >
      appium
      --base-path /wd/hub
      --relaxed-security
      --default-capabilities '{ "platformName": "Android", "automationName": "uiautomator2" }'
    privileged: true
    environment:
      NODE_CONFIG: >
        {"server": {"port": 4723, "use-drivers": ["uiautomator2"]}}
    volumes:
      - ~/.android:/root/.android
      - /dev/bus/usb:/dev/bus/usb
    devices:
      - /dev/bus/usb:/dev/bus/usb
    extra_hosts:
      - 'host.docker.internal:host-gateway'

  node-1:
    image: selenium/node-docker:4.5.0-20221004
    container_name: node-1
    volumes:
      - ./config/appium-node.toml:/opt/bin/config.toml
    depends_on:
      - selenium-hub
      - appium-server
    # ports:
    #   - "7900:7900"  # <- expose VNC viewer port
    environment:
      - SE_EVENT_BUS_HOST=selenium-hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
      - SE_NODE_OVERRIDE_MAX_SESSIONS=true
      - SE_NODE_MAX_SESSIONS=1
      # - SE_VNC_VIEW_ONLY=1         # <- enable view-only VNC
      # - SE_VNC_NO_PASSWORD=1       # <- no password prompt
    extra_hosts:
      - 'host.docker.internal:host-gateway'
